* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./img/world-flag-map1.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

h1 {
  text-shadow: 2px 2px rgb(63, 63, 63);
}

.form-select {
  box-shadow: 4px 4px 2px rgb(63, 63, 63);
}

.error {
  background-image: url(./img/404.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
